*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}
body{
    background: #222633;
    display: flex;
}
.container {
    margin: auto;
    width: 500px; height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}
.head{
    width: 70px; height: 70px;
    background: white;
    border-radius: 50%;
    position: relative;
    left: 40px; top: 35px;
    animation: headChange 1s infinite 1.5s ease-in;
}
.body{
    width: 65px; height: 150px;
    background-color: white;
    border-radius: 50px 20px 0 0;
    animation: bodyChange 1s infinite 1.5s ease-in;
}
.firstLeg, .secondLeg{
    width: 35px; height: 10px;
    background: white;
    border-radius: 20px 50px 50px 20px;
    position: relative;
    top: 85px; left: 30px;
    animation: walk 2s infinite linear;
}
.secondLeg{
    top: 40px;
    animation-delay: 1s;
}
.shadow{
    width: 120px; height: 14px;
    background: #575555;
    border-radius: 50%;
    animation: shadowChange 1s infinite 1.5s linear;
}
@keyframes headChange {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(7px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes bodyChange {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes walk {
    0% {
        transform: translateX(0px) rotate(0deg);
    }
    20% {
        transform: translateX(-30px) rotate(0deg);
    }
    40% {
        transform: translate(-40px, 0px) rotate(0deg);
    }
   70% {
        transform: translate(-30px, -10px) rotate(35deg);
    }
    90% {
        transform: translate(15px, -9px) rotate(-35deg);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes shadowChange {
    0% {
        width: 120px;
    }
    50% {
        width: 120px;
    }
    100% {
        width: 110px;
    }
}
